<header [ngClass]="{ solid: utilityService.scrollPositionSig() != 0 }" class="unselectable">
	<a>
		<img src="../../../../assets/logos/logo_w_text.webp" [routerLink]="['/']" />
	</a>
	@if ( utilityService.inPreLogin(currentRouteSig()) && currentRouteSig() != '/login' ) {
	<nav>
		<button class="btn_blue" [routerLink]="['/login']">
			<span>Log In</span>
		</button>
	</nav>
	} @else if (utilityService.inPostLogin(currentRouteSig())) {
	<nav>
		<button class="btn_blue" (click)="logout()">
			<img src="assets/icons/logout.webp" />
			<span>Log Out</span>
		</button>
	</nav>
	}
</header>
