<vg-player (onPlayerReady)="onPlayerReady($event)" [ngClass]="{ bg_video: bgVideo }">
	@if (!bgVideo) {
	<vg-overlay-play />
	<vg-buffering />
	<vg-scrub-bar [vgSlider]="true" class="scrub_bar">
		<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
		<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
	</vg-scrub-bar>
	<vg-controls class="controls">
		<vg-play-pause></vg-play-pause>
		<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
		<span class="time_display_separator">/</span>
		<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
		<vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
		<vg-mute></vg-mute>
		<vg-volume></vg-volume>
		@if(videoBitrates) {
		<vg-quality-selector [bitrates]="videoBitrates" (onBitrateChange)="vgHls.setBitrate($event)" />
		<vg-playback-button></vg-playback-button>
		}
		<vg-fullscreen></vg-fullscreen>
	</vg-controls>
	}
	<video [vgMedia]="$any(media)" #media preload="auto" autoplay playsinline crossorigin loop (loadedmetadata)="media.muted = bgVideo" #vgHls="vgHls" [vgHls]="this.playerService.bgVideoUrlSig() ?? this.playerService.fsVideoUrlSig()!" (onGetBitrates)="addBitrates($event)"></video>
</vg-player>
