<div class="wrapper">
	<div class="card">
		<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
			<h1>Forgot your password?</h1>
			<p>We will send you an email with instructions to reset your password.</p>
			<div class="form_element">
				<div class="input_element" [ngClass]="{ invalid: utilityService.formInvalid(forgotPasswordForm.controls.email) }">
					<input type="email" placeholder="Email Address" formControlName="email" />
					<div class="input_img">
						<img src="assets/icons/mail.webp" />
					</div>
				</div>
				<div class="element_errors">
					@if (utilityService.formInvalid(forgotPasswordForm.controls.email)) {
					<img src="assets/icons/warning.webp" />
					@if (forgotPasswordForm.controls.email.errors?.['required']) {
					<span class="error_message">Please enter an email address.</span>
					} @if (forgotPasswordForm.controls.email.errors?.['email']) {
					<span class="error_message"> This is not a valid email address. </span>
					} }
				</div>
			</div>
			<div class="form_button_wrap">
				<div class="spinner_container">
					@if (utilityService.loading) {
					<img src="assets/icons/spinner_pale_blue.gif" class="loading_spinner" />
					}
				</div>
				<button class="btn_blue" type="submit" [disabled]="!forgotPasswordForm.valid">
					<span>Send Email</span>
				</button>
			</div>
		</form>
	</div>
</div>
