@mixin formElement() {
	width: 100%;
	.element_errors {
		@include dFlex($jc: flex-start);
		gap: 4px;
		width: 100%;
		height: 28px;
		min-height: 28px;
		img {
			filter: invert(14%) sepia(63%) saturate(7483%) hue-rotate(343deg) brightness(95%) contrast(112%);
		}
		.error_message {
			@include font($color: $error, $size: 15px);
		}
		// responsive
		// @include break(sm) {
		// 	height: 28px;
		// 	min-height: 28px;
		// 	.error_message {
		// 		@include font($color: $error, $size: 15px);
		// 	}
		// }
	}
}

@mixin inputElement($ph-color: $purple) {
	@include dFlex();
	width: 100%;
	height: 48px;
	position: relative;
	padding: 0px 16px;
	background-color: white;
	border: 1px solid $purple;
	border-radius: 10px;
	&:focus-within {
		border: 1px solid $purple-80;
	}
	input[type='text'],
	[type='email'],
	[type='password'] {
		@include font($size: 20px);
		flex-grow: 1;
		min-width: 50px;
		border: none;
		outline: none;
		transition: none;
		&::placeholder {
			@include font($size: 20px, $color: $ph-color);
		}
		// responsive
		// @include break(sm) {
		// 	@include font($size: 16px);
		// 	&::placeholder {
		// 		@include font($size: 16px, $color: $ph-color);
		// 	}
		// }
	}
	// @include break(sm) {
	// 	height: 40px;
	// 	padding: 0px 12px;
	// }
}

@mixin inputImages($height: 24px, $gap: 4px) {
	@include dFlex();
	gap: $gap;
	height: $height;
}

@mixin inputImg($wh: 24px) {
	width: $wh;
	height: $wh;
	border-radius: $wh;
	img {
		width: $wh;
		height: $wh;
		&.flip {
			rotate: 180deg;
		}
		filter: invert(22%) sepia(51%) saturate(3366%) hue-rotate(227deg) brightness(99%) contrast(111%);
	}
	&.functional {
		cursor: pointer;
		&:hover {
			background-color: $li-grey;
		}
	}
}

@mixin checkboxElement() {
	@include dFlex();
	input[type='checkbox'] {
		width: 24px;
		height: 24px;
		appearance: none;
		background-image: url('../../assets/icons/check_box.webp');
		background-size: cover;
		filter: invert(22%) sepia(51%) saturate(3366%) hue-rotate(227deg) brightness(99%) contrast(111%);
		margin-right: 8px;
		cursor: pointer;
		&:hover {
			filter: invert(22%) sepia(51%) saturate(3366%) hue-rotate(227deg) brightness(99%) contrast(111%) opacity(80%);
		}
		&:checked {
			background-image: url('../../assets/icons/check_box_checked.webp');
			&:hover {
				filter: invert(22%) sepia(51%) saturate(3366%) hue-rotate(227deg) brightness(99%) contrast(111%) opacity(80%);
			}
		}
	}
	span {
		@include font($size: 16px);
		max-width: 300px;
		// @include break(sm) {
		// }
	}
}
