{% extends "emails/base_email.html" %} {% block content %}

<div class="logo_box_top">
	<img src="http://localhost:4200/assets/logos/logo_w_text.webp" />
</div>
<p>Dear <span class="purple">{{user}}</span>,<br />Thank you for registering with <span class="purple">Videoflix</span>. To complete your registration and verify your email address, please click the link below:</p>
<a href="{{url}}"><span>Activate account</span></a>
<p>If you did not create an account with us, please disregard this email.<br /><br />Best regards,<br /><br />Your Videoflix Team.</p>

{% endblock %}
