@import 'app/mixins/general.scss';
@import 'app/mixins/form.scss';

$bg: black;
$purple: #2e3edf;
$purple-hover: #2e63df;
$purple-80: #2e3ddfcc;
$purple-50: #2e3edf80;
$link: #a8a8a8;
$link-hover: #909090;
$li-grey: #eeeeee;
$error: #ff002e;

$header-height: (
	medium: 72px,
	large: 108px,
);

$footer-height: (
	medium: 64px,
	large: 104px,
);

html {
	scroll-behavior: smooth;
}

body {
	background-color: $bg;
	overflow: hidden;
	color: $purple;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
	transition: all 200ms;
	::-webkit-scrollbar {
		display: none;
		// background: transparent;
		// width: 6px;
		// height: 6px;
	}
	// ::-webkit-scrollbar-track {
	// 	background: transparent;
	// }
	// ::-webkit-scrollbar-thumb {
	// 	border-radius: 24px;
	// }
	// ::-webkit-scrollbar-thumb:hover {
	// }
}

@font-face {
	font-family: 'DM Sans';
	src: url('assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

a {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
		text-shadow: 0px 0px 5px white;
	}
}

.error_message {
	@include font($color: $error, $size: 12px);
}
.backend_errors {
	min-width: 1px;
	min-height: 21px;
	.backend_error {
		@include font($color: $error);
	}
}

.spinner_container {
	width: 48px;
	height: 48px;
	.loading_spinner {
		width: 48px;
		height: 48px;
	}
	// responsive
	// @include break(md2) {
	// 	width: 32px;
	// 	height: 32px;
	// 	.loading_spinner {
	// 		width: 32px;
	// 		height: 32px;
	// 	}
	// }
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
