<main #main>
	<!-- <main #main (scroll)="onScrollVert($event)"> -->
	@if (videoService.fsVideoUrlSig()) {
	<app-videoplayer [playInBackground]="false"></app-videoplayer>
	}
	<div class="content_wrapper">
		@if (videoService.mainVideoSig()) {
		<section class="main_recommendation">
			<h1>{{ videoService.mainVideoSig()?.title }}</h1>
			<span class="description">{{ videoService.mainVideoSig()?.description }}</span>
			<button class="btn_blue" (click)="videoService.initVideoPlayer('fullscreen')" [disabled]="utilityService.loading">
				<img src="assets/icons/play_arrow.webp" />
				<span>Play</span>
				<div class="button_spinner">
					<img src="assets/icons/spinner_pale_blue.gif" class="loading_spinner" [ngClass]="{ visible: utilityService.loading }" />
				</div>
			</button>
		</section>
		<section class="videos_by_category">
			@for (videoCategory of videoService.videosByCategorySig(); track videoCategory.category.id; let i = $index) {
			<app-category [videoCategory]="videoCategory" [index]="i" [main]="main"></app-category>
			}
		</section>
		} @else {
		<section class="no_videos_found">
			<span>No videos found.</span>
		</section>
		}
	</div>
</main>
