@import "./../../../../styles.scss";

$main-rec-height: (
	medium: calc(100dvh - map-get($header-height, medium) - map-get($footer-height, medium) - 80px),
	large: calc(100dvh - map-get($header-height, large) - map-get($footer-height, large) - 96px),
);

.btn_blue {
	@include buttonBlue();
}

main {
	width: 100vw;
	height: 100dvh;
	padding-bottom: 800px;
	overflow-y: auto;
}

h1 {
	@include font($weight: 700, $size: 88px, $color: white);
	text-shadow: 1px 1px 3px black;
	@include break(md2) {
		@include font($weight: 700, $size: 72px, $color: white);
	}
	@include break(xs) {
		@include font($weight: 700, $size: 48px, $color: white);
	}
}

h2 {
	@include font($weight: 700, $size: 22px, $color: white);
	text-shadow: 1px 1px 3px black;
}

.content_wrapper {
	padding-top: map-get($header-height, large);
	padding-left: 96px;
	// responsive
	@include break(md2) {
		padding-top: map-get($header-height, medium);
	}
	@include break(xs) {
		padding-top: map-get($header-height, small);
		padding-left: 16px;
	}
}

.main_recommendation {
	@include dFlex($fd: column, $ai: flex-start, $jc: flex-start);
	gap: 32px;
	height: map-get($main-rec-height, large);
	padding-top: calc((map-get($main-rec-height, large) - 247px) / 3);
	.description {
		@include font($weight: 400, $size: 16px, $color: white);
		max-width: 640px;
		text-shadow: 1px 1px 3px black;
	}
	@include break(md2) {
		height: map-get($main-rec-height, medium);
		padding-top: calc((map-get($main-rec-height, medium) - 226px) / 3);
	}
	// @include break(xs) {
	// 	height: calc(100dvh - map-get($header-height, medium));
	// }
}

.button_spinner {
	@include dFlex();
	.loading_spinner {
		opacity: 0;
		margin-left: -24px;
		&.visible {
			width: 32px;
			height: 32px;
			margin: -4px -8px -4px 4px;
			object-fit: cover;
			opacity: 1;
		}
	}
}

.videos_by_category {
	overflow: hidden;
	@include dFlex($fd: column, $ai: flex-start);
	gap: calc(64px - 22.5px);
	padding-bottom: 16px;
}

.no_videos_found {
	width: calc(100vw - 96px);
	height: calc(100dvh - map-get($header-height, large) - map-get($footer-height, large));
	@include dFlex();
}
